interviwer.json
{
  "nodes": [
    {
      "parameters": {
        "content": "### Load data into database\nFetch file from Google Drive, split it into chunks and insert into Pinecone index",
        "height": 627,
        "width": 2958
      },
      "id": "0f2135fb-2ed6-41dc-96b2-d690dc4b253f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4480,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ",
        "height": 687,
        "width": 1134,
        "color": 7
      },
      "id": "3416a109-55eb-4133-884e-9dcc922eabcf",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1260,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "24ea0bc8-41f4-4282-9875-ca7b54857540",
      "name": "When clicking 'Test Workflow' button",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -4180,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6980aeb0-f431-44cb-8548-a2ba18fbedce",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1200,
        540
      ],
      "webhookId": "52fce224-7a05-4815-8969-8661e75c3be1",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }} {{ $json.metadata.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "b9e9a6f2-dae5-4c65-a514-7f795a68e9af",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -3120,
        800
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pt6FeKL7yEz94Qgy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file-name"
              }
            ]
          }
        }
      },
      "id": "aa075336-0675-4935-8074-c5593e626f8c",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1860,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "efd6f4b7-54d6-4dcf-94a1-115f265b68a6",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1760,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1980,
        760
      ],
      "id": "0a870f54-b3ea-4316-b7d9-05594cbb7b61",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7QraoPUweOsXAgJT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -820,
        740
      ],
      "id": "2baf07b1-34f7-4055-9fde-b20718dd09ec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7QraoPUweOsXAgJT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        900
      ],
      "id": "9a7984db-ff98-42fe-9b79-71c2313b7a0a",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "7QraoPUweOsXAgJT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are Octo, an AI-powered expert interviewer designed to conduct professional, thorough, and fair interviews for a specific job role. You have access to the following tools and resources:\n\n1. **Supabase Tool**: Use this to query a database containing:\n   - The interviewee’s resume.\n   - The job description for the position.\n   - A record of interview questions and answers for reference.\n\n2. **Your Objectives**:\n   - Conduct a structured and professional interview.\n   - Refer to the interviewee’s resume, job description, and previous responses to ask relevant and insightful questions.\n   - Check for consistency between the interviewee’s answers, resume, and job description, and probe deeper when inconsistencies are detected.\n   - Evaluate the interviewee's technical knowledge, problem-solving abilities, and cultural fit based on their responses.\n\n3. **Behavior Guidelines**:\n   - Maintain a professional and neutral tone throughout the interview.\n   - Avoid making assumptions or judgments without evidence from the provided resources.\n   - If the interviewee misbehaves (e.g., uses offensive language, refuses to answer questions without a valid reason), terminate the interview immediately with a polite but firm explanation.\n\n4. **Interview Flow**:\n   - Start by introducing yourself and outlining the interview process.\n   - Begin with general questions based on the job description and resume.\n   - Progress to role-specific technical and behavioral questions.\n   - If inconsistencies arise between the resume, job description, and the interviewee’s answers, ask follow-up questions to clarify or probe deeper.\n   - End the interview with an evaluation and an opportunity for the interviewee to ask questions.\n\n5. **Behavior Enforcement**:\n   - If misbehavior is detected:\n     - Warn the interviewee once with a reminder to maintain professionalism.\n     - If the behavior persists, terminate the interview with the following statement:\n       \"Thank you for your time, but we will need to end the interview here due to inappropriate behavior. Best wishes for your future endeavors.\"\n\n\n**Rules**:\n- Always query the Supabase database for relevant information before asking a question or evaluating an answer.\n- Ask clear, concise, and open-ended questions.\n- Use only the information from the resume, job description, and interview Q&A to guide your evaluation.\n\nBegin the interview process now.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -760,
        540
      ],
      "id": "8f17468e-aee3-46d2-9277-d09859ff6d48",
      "name": "Interviewer",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 2,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1-7zg48ArtGJFXvRB5K1AlcrMyRZGPK0S",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1-7zg48ArtGJFXvRB5K1AlcrMyRZGPK0S"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3940,
        720
      ],
      "id": "39b12c6a-1eda-47ec-a2bb-cfcbfc2f0fb7",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pt6FeKL7yEz94Qgy",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2600,
        940
      ],
      "id": "2621ed67-9a78-407e-962e-3e2de9a65554",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "contextWindowLength": 60
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -700,
        860
      ],
      "id": "0e6674db-c3f4-4734-9cb6-18626668e40f",
      "name": "interview conversation",
      "credentials": {
        "postgres": {
          "id": "XLyR0TYpVs92PK5E",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "691bcf47-a985-462c-9783-a13307f8562d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1140,
        860
      ],
      "id": "a2446912-1f1c-4343-aad8-3e0d973e7770",
      "name": "Webhook",
      "webhookId": "691bcf47-a985-462c-9783-a13307f8562d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        100,
        740
      ],
      "id": "22720331-d95f-44cb-8904-fa9c93cca1e7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -1980,
        520
      ],
      "id": "cb210a7f-a1e7-46b8-ac46-4f39be2ce1a5",
      "name": "Supabase Vector Store",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "0MpjOAvVuOLfm3S0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2340,
        1200
      ],
      "id": "c492953d-dfd5-4b1b-a913-86887062666e",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "0MpjOAvVuOLfm3S0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filters": {
          "conditions": [
            {
              "keyName": "content",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2180,
        1200
      ],
      "id": "f9ef7e12-b1d4-4a74-af12-d68e8412e7e3",
      "name": "Supabase1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "0MpjOAvVuOLfm3S0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba0e888a-a792-4d64-8ca2-28f91ca8b345",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        1200
      ],
      "id": "75da18d1-86e4-4304-bf4a-c48b1e8311b6",
      "name": "Set File ID"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2980,
        1180
      ],
      "id": "cddf5916-8e9f-480d-920f-b82333be7c3c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "documents",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        -500,
        880
      ],
      "id": "89cff76d-32a6-4501-9826-fdae146b2a53",
      "name": "Supabase2",
      "credentials": {
        "supabaseApi": {
          "id": "0MpjOAvVuOLfm3S0",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "agentId": "agent_01jwawkk2ned7rx5fpz14t4rn7"
      },
      "type": "n8n-nodes-elevenlabs-conversational.elevenLabsConversational",
      "typeVersion": 1,
      "position": [
        80,
        880
      ],
      "id": "6cd0cce9-1d8e-4b40-8731-4bf84fed200a",
      "name": "Eleven Labs Conversational",
      "credentials": {
        "elevenLabsApi": {
          "id": "1sKEjnSl1zTbXpmf",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "EXAVITQu4vr4xnSDxMaL",
          "mode": "list",
          "cachedResultName": "Sarah"
        },
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabsTool",
      "typeVersion": 1,
      "position": [
        -40,
        540
      ],
      "id": "e9e54089-c3b6-4e38-8df7-0b4e2d6133cc",
      "name": "ElevenLabs",
      "credentials": {
        "elevenLabsApi": {
          "id": "1sKEjnSl1zTbXpmf",
          "name": "ElevenLabs account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "operation": "speechToText",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        0,
        380
      ],
      "id": "3eae3aa3-01f3-45e6-8b70-b6a10ba9fbe9",
      "name": "ElevenLabs1",
      "credentials": {
        "elevenLabsApi": {
          "id": "1sKEjnSl1zTbXpmf",
          "name": "ElevenLabs account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test Workflow' button": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Interviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        []
      ]
    },
    "Interviewer": {
      "main": [
        []
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "interview conversation": {
      "ai_memory": [
        [
          {
            "node": "Interviewer",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Interviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Supabase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Set File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase2": {
      "ai_tool": [
        [
          {
            "node": "Interviewer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a52e95520d45953282757a9a7a7fe86175ff1d6c954aac081eda65fb8ae4e004"
  }
}
